.page-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d48b1e;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.page-header h2 {
  margin: 0.2em;
}

@media only screen and (min-width: 1024px) {
    
  .page-header {
    width: 35%;
    margin: 1.5em;
    padding: 2em;
    
  }

}

@media only screen and (max-width: 600px) {
  .page-header {
    height: 350px;
  }

}