.new-tweet {
  
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
}

/* .new-tweet header{

} */

#textwrapper {
  position: relative;
}


.new-tweet textarea {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid black;
  position: absolute;
  width: 100%;
  padding: 0 0 0;
  
}

.new-tweet textarea input:valid {
  background-color: #f4f1ec;
}

.new-tweet label {
  position: absolute;
}

#buttonwrapper {
  
  margin-top: 3em;
  font-family: 'Bungee', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}




.new-tweet button {
  color: #ffffff;
  background-color: #4056A1;
  border-color: #4056A1;
}