.new-tweet {
  
  padding: 1.5em;
  display: none;
  
}

.new-tweet textarea {
  background-color: transparent;
  border: 0px;
  border-bottom: 4px solid #545149;
  margin-top: 0.5em;
  width: 100%;
  padding: 10 0 6;
  
}




.new-tweet div {
  
  margin-top: 0.5em;
  font-family: 'Bungee', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.new-tweet .red {
  color: red;
}

.new-tweet button {
  color: #ffffff;
  background-color: #4056A1;
  border-color: #4056A1;
}