.show-tweets {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column-reverse;
}

.show-tweets article {
  padding: 0.5em;
  border: 4px solid #545149;
  margin-bottom: 0.5em;
}

.show-tweets article:hover {
  border-color: black;
  color: black;
  font-weight: 700;
  box-shadow: 6px 6px 2px #545149;
}

.show-tweets header {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.show-tweets header div {
  display: flex;
  flex-direction: row;
  align-items: center;
   
}

.show-tweets span {
  margin: 0.50em;
}


.show-tweets p {
  flex-grow: 2;
  padding: 0.5em;
}

.show-tweets footer {
  flex-grow: 1;
  border: none;
  border-top: 4px solid #545149;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#error-msg {
  display: none;
  margin: 0.2em 0em;
  border: 4px solid red;
  color: red;
  padding: 0.2em;
}